html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { text-decoration: none; }

body, a { font-family: arial; }

.wrap { width: 100%; min-width: 320px; height: 100%; background-color: #222222; }

.container { margin: 0 auto; padding: 0 20px 0 20px; max-width: 960px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 860px) { .container { max-width: 768px; } }
@media only screen and (max-width: 700px) { .container { max-width: 480px; } }

.ico { display: inline-block; vertical-align: middle; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.i-vk { background: url('../img/icons-sfb2335f469.png') 0 -90px no-repeat; width: 20px; height: 20px; }
.i-vk:hover { background: url('../img/icons-sfb2335f469.png') 0 -180px no-repeat; width: 20px; height: 20px; }

.i-class { background: url('../img/icons-sfb2335f469.png') 0 -30px no-repeat; width: 20px; height: 20px; }
.i-class:hover { background: url('../img/icons-sfb2335f469.png') 0 -210px no-repeat; width: 20px; height: 20px; }

.i-fb { background: url('../img/icons-sfb2335f469.png') 0 -120px no-repeat; width: 20px; height: 20px; }
.i-fb:hover { background: url('../img/icons-sfb2335f469.png') 0 -240px no-repeat; width: 20px; height: 20px; }

.i-twit { background: url('../img/icons-sfb2335f469.png') 0 -60px no-repeat; width: 20px; height: 20px; }
.i-twit:hover { background: url('../img/icons-sfb2335f469.png') 0 -340px no-repeat; width: 20px; height: 20px; }

.i-google { background: url('../img/icons-sfb2335f469.png') 0 0 no-repeat; width: 20px; height: 20px; }
.i-google:hover { background: url('../img/icons-sfb2335f469.png') 0 -150px no-repeat; width: 20px; height: 20px; }

.i-user { background: url('../img/icons-sfb2335f469.png') 0 -488px no-repeat; width: 16px; height: 16px; }

.i-earth { background: url('../img/icons-sfb2335f469.png') 0 -416px no-repeat; width: 20px; height: 20px; }

.i-share { background: url('../img/icons-sfb2335f469.png') 0 -370px no-repeat; width: 26px; height: 36px; }

.i-earth-big { background: url('../img/icons-sfb2335f469.png') 0 -300px no-repeat; width: 30px; height: 30px; }

.i-user-big { background: url('../img/icons-sfb2335f469.png') 0 -514px no-repeat; width: 37px; height: 31px; }

.i-phone-big { background: url('../img/icons-sfb2335f469.png') 0 -446px no-repeat; width: 33px; height: 32px; }

@font-face { font-family: "helvetica-light"; src: url('../fonts/helvetica-light-webfont.eot'); src: url('../fonts/helvetica-light-webfont.eot?#iefix') format('eot'), url('../fonts/helvetica-light-webfont.ttf') format('truetype'), url('../fonts/helvetica-light-webfont.svg') format('svg'), url('../fonts/helvetica-light-webfont.woff') format('woff'); font-weight: "helvetica-light-webfont.eot?#iefix"; }

@font-face { font-family: "heliosextlightc"; src: url('../fonts/heliosextlightc-webfont.eot'); src: url('../fonts/heliosextlightc-webfont.eot?#iefix') format('eot'), url('../fonts/heliosextlightc-webfont.ttf') format('truetype'), url('../fonts/heliosextlightc-webfont.svg') format('svg'), url('../fonts/heliosextlightc-webfont.woff') format('woff'); font-weight: "heliosextlightc-webfont.eot?#iefix"; }

@font-face { font-family: "heliosextthinc"; src: url('../fonts/heliosextthinc-webfont.eot'); src: url('../fonts/heliosextthinc-webfont.eot?#iefix') format('eot'), url('../fonts/heliosextthinc-webfont.ttf') format('truetype'), url('../fonts/heliosextthinc-webfont.svg') format('svg'), url('../fonts/heliosextthinc-webfont.woff') format('woff'); font-weight: "heliosextthinc-webfont.eot?#iefix"; }

@font-face { font-family: "helioslightc"; src: url('../fonts/helioslightc-webfont.eot'); src: url('../fonts/helioslightc-webfont.eot?#iefix') format('eot'), url('../fonts/helioslightc-webfont.ttf') format('truetype'), url('../fonts/helioslightc-webfont.svg') format('svg'), url('../fonts/helioslightc-webfont.woff') format('woff'); font-weight: "helioslightc-webfont.eot?#iefix"; }

@font-face { font-family: "heliosextc"; src: url('../fonts/heliosextc-webfont.eot'); src: url('../fonts/heliosextc-webfont.eot?#iefix') format('eot'), url('../fonts/heliosextc-webfont.ttf') format('truetype'), url('../fonts/heliosextc-webfont.svg') format('svg'), url('../fonts/heliosextc-webfont.woff') format('woff'); font-weight: "heliosextc-webfont.eot?#iefix"; }

/*-----footer----- */
.social { *zoom: 1; }
.social:after { content: " "; display: table; clear: both; }
.social li { float: left; margin-left: 3px; }
.social .ico { -webkit-transition: 0; -moz-transition: 0; -o-transition: 0; transition: 0; }

.stick { position: relative; }
.stick:before { position: absolute; content: ""; height: 21px; width: 1px; display: inline-block; top: 2px; left: -16px; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50.39%, #ffffff), color-stop(50.9%, rgba(255, 255, 255, 0.99)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 50.39%, rgba(255, 255, 255, 0.99) 50.9%, rgba(255, 255, 255, 0) 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 50.39%, rgba(255, 255, 255, 0.99) 50.9%, rgba(255, 255, 255, 0) 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 50.39%, rgba(255, 255, 255, 0.99) 50.9%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 50.39%, rgba(255, 255, 255, 0.99) 50.9%, rgba(255, 255, 255, 0) 100%); }

.logo { position: absolute; top: -15px; left: 50%; margin-left: -90px; z-index: 777; font: 0/0 a; text-shadow: none; color: transparent; }
.logo img { width: 100%; }
@media only screen and (max-width: 860px) { .logo { width: 120px; top: 23px; margin-left: -60px; } }
@media only screen and (max-width: 700px) { .logo { width: 130px; top: -10px; } }

.form { background-color: rgba(254, 254, 254, 0.11); border: 1px solid #5e605a; width: 145px; position: relative; height: 20px; line-height: 20px; padding: 0 20px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form input { width: 100%; background-color: transparent; color: #c3c3c3; }
.form .btn-search { background: url('../img/icons-sfb2335f469.png') 0 -555px no-repeat; width: 11px; height: 11px; display: inline-block; position: absolute; top: 4px; right: 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.form .btn-search:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/*-----help----- */
.hover-opacity { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.hover-opacity:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
