/*-----header----------------------------------------*/
.header
	background:
		color: #000 
		image: image-url("bg-header.jpg")
	color: #fff
	padding-top: 30px
	padding-bottom: 8px
	+cover
	.header-in
		position: relative
	.header__top
		+clr
	.header__left
		float: left
		+clr
		.item
			@extend .stick
			float: left
			font-size: 12px
			line-height: 19px
			color: #c3c3c3
			vertical-align: top
			margin-right: 33px
			.link
				border-bottom: 1px dotted 
				vertical-align: top
				margin-right: 10px
			&:hover
				.link
					border-bottom-color: transparent 	
			.ico
				vertical-align: 2px		
	.header__right
		float: right
		text-align: right
		+clr
		.item
			float: right
			position: relative
			margin-left: 35px
			&:before
				position: absolute
				content: ""
				height: 30px
				width: 1px
				display: inline-block
				top: 2px
				left: -16px
				+background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, #fff 50.39%, rgba(255,255,255,.99) 50.9%, rgba(255,255,255,0) 100%))
			&:last-child
				&:before
					display: none
		.phone
			font-size: 16px
			color: #999
		.quest
			font-size: 11px
			color: #999
			text-decoration: underline
			&:hover
				text-decoration: none	
		.city
			position: relative
			.link					 			
				font-size: 12px
				color: #FFF
				border-bottom: 1px dotted
				margin-left: 10px
				&:hover
					border-bottom-color: transparent
			.ico:after
				position: absolute
				bottom: -11px
				left: 6px
				content: ""
				width: 0
				height: 0
				border-style: solid
				border-width: 4px 4px 0 4px
				border-color: #fff transparent transparent transparent
				+opacity(0.35)
		.shop
			font-size: 12px
			color: #FFF
			text-decoration: underline
			&:hover
				text-decoration: none

	.header__bottom
	.social
		float: left
		margin-right: 33px	
/*-----about-----------------------------------------*/
.about
	background-image:  image-url("bg.jpg")
	min-height: 200px//KILL 
	+cover 		
/*-----nav-------------------------------------------*/	
.nav
	.nav-infinity
		top: -$nav-bord-h
		background: inherit
		height: 100%
		width: 500% 
		border-top: $nav-bord-h solid $main-c
	.nav-center
		top: -$nav-bord-h
		height: $nav-h+$nav-bord-h
		width: 23px 
	.nav-in	
		+clr
	.navigation
		background-color: rgba(255,255,255,0.7)
		border-top: $nav-bord-h solid $main-c 
		display: table 
		border-collapse:collapse
		height: $nav-h
		line-height: $nav-h
		position: relative
		+clr
		li
			display: table-cell
			text-align: center
		a
			font-size: 14px
			line-height: $nav-h
			height: $nav-h 
			color: #000
			text-transform: uppercase
			white-space: nowrap
			display: inline-block 
			position: relative
			&:after
				position: absolute
				content: ""
				width: 100%
				height: 0
				background-color: $main-c
				left: 0
				bottom: -20px 
				+transition
			&:hover
				&:after
					height: 4px	  	
					bottom: -10px
		.is-active
			a
				&:after
					height: 4px	  	
					bottom: -10px
		&:after,&:before
			position: absolute
			content: ""	
			display: inline-block							
		.navigation_mini
			text-align: right
			a
				margin-right: 15px
				+transition
				&:after
					display: none
				&:hover
					+opacity(0.6)
					
				span
					display: inline-block
					height: 3px
					width: 20px
					background-color: #626262
					vertical-align: 3px
					&:after,&:before
						content: ""
						position: absolute
						left: 0
						width: 100%
						height: 3px
						background-color: inherit
					&:before
						top: 11px
					&:after
						bottom: 10px
							 
	.navigation-left
		float: left
		width: 39.5%
		&:after
			@extend .nav-center
			background-image: image-url("menu-left.png") 
			right: -23px
		&:before
			@extend .nav-infinity
			left: -500%
	.navigation-right
		float: right
		width: 41.4%
		&:after
			@extend .nav-infinity
			top: -$nav-bord-h	
			right: -500%
		&:before	
			@extend .nav-center
			background-image: image-url("menu-right.png") 
			left: -23px
			
		    		