/*-----header----------------------------------------*/
.header
	background:
		color: #000 
		image: image-url("bg-header.jpg")
	color: #fff
	padding-top: 30px
	padding-bottom: 10px
	+cover
	+r(w860)
		padding-top: 17px
		padding-bottom: 20px
	+r(w700)
		padding-top: 22px 	
	.header-in
		position: relative
		+clr
		+r(w700)
			padding-left: 35px
	.header__top
		+clr
	.header__left
		float: left
		+clr
		.item
			@extend .stick
			float: left
			font-size: 12px
			line-height: 19px
			color: #fff
			vertical-align: top
			margin-right: 20px
			.link
				border-bottom: 1px dotted 
				vertical-align: top
				margin-right: 10px
				font-family: "helvetica-light" 
			&:hover
				.link
					border-bottom-color: transparent 
				.ico
					+opacity(0.7) 							
			.ico
				vertical-align: -6px
			&:last-child
				margin-right: 0	
			+r(w700)
				display: none	
		.header__mobile
			li
				float: left
				margin-right: 15px						
	.header__right
		float: right
		text-align: right
		+clr
		.item
			float: right
			position: relative
			&:first-child
				margin-left: 0
				margin-left: 25px
			&:before
				position: absolute
				content: ""
				height: 30px
				width: 1px
				display: inline-block
				top: 2px
				left: -11px
				+background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, #fff 50.39%, rgba(255,255,255,.99) 50.9%, rgba(255,255,255,0) 100%))
			&:last-child
				&:before
					display: none		
			+r(w700)
				display: none
		.phone
			font-size: 16px
			color: #fff
			font-family: heliosextc
			font-size: 16px 
		.quest
			font-size: 11px
			color: #fff
			text-decoration: underline
			&:hover
				text-decoration: none	
		.city
			position: relative
			.link					 			
				font-size: 12px
				color: #FFF
				border-bottom: 1px dotted
				margin-left: 10px
				font-family: heliosextthinc 
				font-size: 12px
				&:hover
					border-bottom-color: transparent
			.ico:after
				position: absolute
				bottom: -11px
				left: 6px
				content: ""
				width: 0
				height: 0
				border-style: solid
				border-width: 4px 4px 0 4px
				border-color: #fff transparent transparent transparent
				+opacity(0.35)
			&:hover
				.ico
					+opacity(0.7) 	
		.shop
			font-size: 11px
			color: #FFF
			text-decoration: underline
			&:hover
				text-decoration: none
		.header__mobile
			li
				float: right
				margin-left: 15px		
	.header__bottom
		+r(w700)
			display: none
	.social
		float: left
		margin-right: 20px
		+r(w700)
			display: none
	.header__mobile
		display: none
		+clr
		.ico
			@extend .hover-opacity
		.i-earth-big
			position: relative
		.i-earth-big:after
			position: absolute
			bottom: -8px
			left: 10px
			content: ""
			width: 0
			height: 0
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: #fff transparent transparent transparent
			+opacity(0.35)
		+r(w700)
			display: block
/*-----about-----------------------------------------*/
.about
	background-image:  image-url("bg.jpg")
	min-height: 700px//KILL 
	+cover
/*-----footer-----------------------------------------*/
.footer
	background-color: #313131 
	.footer__top
		height: 107px
		background-image: image-url("bg-other.jpg") 
		position: relative
		+r(w700)
			height: 78px 	
		.logo
			top: 15px
			+r(w860)
				width: 163px
				margin-left: -90px 
			+r(w700)
				width: 130px	
				top: 8px 
				margin-left: -72px 		
	.footer__string
		height: $nav-bord-h+$nav-h
		margin-bottom: 47px
		+clr
	.footer__string-in
		background: #fff 
		border-top: $nav-bord-h solid $main-c
		position: relative
		height: 100%  
		+box
		&:after,&:before
			position: absolute
			content: ""
			bottom: 0
			height: $nav-h+$nav-bord-h
			width: 30px
			display: inline-block
	.footer__string-l
		float: left
		width: 42%
		+r(w1180)
			width: 41%
		+r(w1024)
			width: 40%
		+r(w900)
			width: 38%
		+r(w700)
			width: 35%	
		+r(w480)
			width: 30%
		+r(w360)
			width: 25%								
		&:after
			right: -30px
			background-image: image-url("string-left.png")	
	.footer__string-r
		float: right
		width: 43.3%
		+r(w1180)	
			width: 42.3% 
		+r(w1024)	
			width: 41.7% 
		+r(w900)
			width: 40%
		+r(w700)
			width: 37%
		+r(w480)
			width: 32.7%	
		+r(w360)
			width: 27.7%									
		&:after
			left: -30px
			background-image: image-url("string-right.png")		