/*-----header----------------------------------------*/
.header
	background:
		color: #000 
		image: image-url("bg-header.jpg")
	color: #fff
	padding-top: 30px
	padding-bottom: 10px
	+cover
	+r(w860)
		padding-top: 17px
		padding-bottom: 20px
	+r(w700)
		padding-top: 22px 	
	.header-in
		position: relative
		+clr
		+r(w700)
			padding-left: 35px
	.header__top
		+clr
	.header__left
		float: left
		+clr
		.item
			@extend .stick
			float: left
			font-size: 12px
			line-height: 19px
			color: #c3c3c3
			vertical-align: top
			margin-right: 33px
			.link
				border-bottom: 1px dotted 
				vertical-align: top
				margin-right: 10px
				font-family: "helvetica-light" 
			&:hover
				.link
					border-bottom-color: transparent 
				.ico
					+opacity(0.7) 							
			.ico
				vertical-align: -6px
			&:last-child
				margin-right: 0	
			+r(w700)
				display: none	
		.header__mobile
			li
				float: left
				margin-right: 15px						
	.header__right
		float: right
		text-align: right
		+clr
		.item
			float: right
			position: relative
			&:first-child
				margin-left: 0
				margin-left: 25px
			&:before
				position: absolute
				content: ""
				height: 30px
				width: 1px
				display: inline-block
				top: 2px
				left: -16px
				+background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, #fff 50.39%, rgba(255,255,255,.99) 50.9%, rgba(255,255,255,0) 100%))
			&:last-child
				&:before
					display: none		
			+r(w700)
				display: none
		.phone
			font-size: 16px
			color: #999
			font-family: heliosextthinc
			font-size: 16px 
		.quest
			font-size: 11px
			color: #999
			text-decoration: underline
			&:hover
				text-decoration: none	
		.city
			position: relative
			.link					 			
				font-size: 12px
				color: #FFF
				border-bottom: 1px dotted
				margin-left: 10px
				font-family: heliosextthinc 
				font-size: 12px
				&:hover
					border-bottom-color: transparent
			.ico:after
				position: absolute
				bottom: -11px
				left: 6px
				content: ""
				width: 0
				height: 0
				border-style: solid
				border-width: 4px 4px 0 4px
				border-color: #fff transparent transparent transparent
				+opacity(0.35)
			&:hover
				.ico
					+opacity(0.7) 	
		.shop
			font-size: 11px
			color: #FFF
			text-decoration: underline
			&:hover
				text-decoration: none
		.header__mobile
			li
				float: right
				margin-left: 15px		
	.header__bottom
		+r(w700)
			display: none
	.social
		float: left
		margin-right: 33px
		+r(w700)
			display: none
	.header__mobile
		display: none
		+clr
		.ico
			@extend .hover-opacity
		.i-earth-big
			position: relative
		.i-earth-big:after
			position: absolute
			bottom: -8px
			left: 10px
			content: ""
			width: 0
			height: 0
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: #fff transparent transparent transparent
			+opacity(0.35)
		+r(w700)
			display: block
/*-----about-----------------------------------------*/
.about
	background-image:  image-url("bg.jpg")
	min-height: 700px//KILL 
	+cover 		
/*-----nav-------------------------------------------*/	
.nav
	position: relative
	.nav-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		display: table
		border-collapse: collapse
		table-layout: fixed
		+box
		.center
			background: transparent
			//width: 920px
			border-color: transparent  
	.nav__block
		display: table-cell	
		background: #0FF
		height: $nav-h+$nav-bord-h
		z-index: -1
		background-color: rgba(255, 255, 255, 0.7)
		border-top: 12px solid #ffcc00
		height: 45px
		+box
	.nav-overflow
		// overflow: hidden
		width: 100%
	// .nav-infinity
	// 	top: -$nav-bord-h
	// 	background: inherit
	// 	height: 100%
	// 	width: 9999px
	// 	border-top: $nav-bord-h solid $main-c
	.nav-center
		bottom: 0
		height: $nav-h+$nav-bord-h
		width: 23px 
	.nav-in	
		+clr
	.navigation
		background-color: rgba(255,255,255,0.7)
		border-top: $nav-bord-h solid $main-c 
		display: table 
		border-collapse:collapse
		height: $nav-h
		line-height: $nav-h
		position: relative
		+clr
		.navigation__item
			display: table-cell
			text-align: center
		.tablet-no
			+r(w860)
				display: none	
		.mobile-no
			+r(w700)
				display: none
		.mobile
			display: none
			+r(w700)
				display: table-cell					
		.navigation__link
			font-size: 14px
			line-height: $nav-h
			height: $nav-h 
			color: #000
			text-transform: uppercase
			white-space: nowrap
			display: inline-block 
			position: relative
			font-family: "helvetica-light"  
			&:after
				position: absolute
				content: ""
				width: 100%
				height: 0
				background-color: $main-c
				left: 0
				bottom: -20px 
				+transition
			&:hover
				&:after
					height: 4px	  	
					bottom: -10px
		.is-active
			a
				&:after
					height: 4px	  	
					bottom: -10px
		&:after,&:before
			position: absolute
			content: ""	
			display: inline-block							
		.navigation-mini
			text-align: right
			position: relative
			display: none
			width: 20px
			+box
			+r(w860)
				display: block
			.navigation__point
				margin-right: 15px
				width: 20px
				+transition
				&:after
					display: none
				&:hover
					+opacity(0.6)
				span
					display: inline-block
					height: 3px
					width: 100%
					background-color: #626262
					vertical-align: 3px
					&:after,&:before
						content: ""
						position: absolute
						left: 0
						width: 100%
						height: 3px
						background-color: inherit
					&:before
						top: 11px
					&:after
						bottom: 10px	 
	.navigation-left
		float: left
		width: 39.5%
		+r(w860)
			width: 41%
		+r(w700)
			width: 35%
		+r(w480)
			width: 33%
		+r(w400)
			width: 29%								
		&:after
			@extend .nav-center
			background-image: image-url("menu-left.png") 
			right: -23px
	.navigation-right
		float: right
		width: 41.4%
		+r(w860)
			width: 41%
		+r(w700)
			width: 32.5%
		+r(w560)
			width: 32%
		+r(w480)
			width: 30%
		+r(w400)
			width: 26%			
				 					
		&:before	
			@extend .nav-center
			background-image: image-url("menu-right.png") 
			left: -23px
	.navigation-hidden
		display: none
		position: absolute
		right: -20px
		top: 36px
		background: #FFF
		text-align: center
		min-width: 180px
		&:before
			position: absolute
			content: ""
			top: -6px
			right: 25px 
			width: 0
			height: 0
			border-style: solid
			border-width: 0 6px 6px 6px
			border-color: transparent transparent #fff transparent
		li
			border-bottom: 1px solid #d8d8d8
		&:first-child
			border-bottom: none 
		a 		
			width: 100%
			display: inline-block
			font-family: "helvetica-light"
			font-size: 14px
			line-height: $nav-h
			color: #000 
			text-transform: uppercase
			position: relative
			&:after
				position: absolute
				content: ""
				width: 100%
				height: 0
				background-color: $main-c
				left: 0
				bottom: -20px 
				+transition
			&:hover
				&:after
					height: 2px	  	
					bottom: 0px
	.is-open
		display: block		
			
		    		
	    		