.social
	+clr
	li
		float: left
		margin-left: 3px
	.ico
		+transition(0)	
.stick
	position: relative
	&:before
		position: absolute
		content: ""
		height: 21px
		width: 1px
		display: inline-block
		top: 2px
		left: -16px
		+background-image(linear-gradient(bottom, rgba(255,255,255,0) 0%, #fff 50.39%, rgba(255,255,255,.99) 50.9%, rgba(255,255,255,0) 100%))
.logo
	position: absolute
	top: -15px
	left: 50%
	margin-left: -90px 	
	+hide-text
	img
		width: 100%
	+r(w860)
		width: 120px
		top: 23px
		margin-left: -60px 
	+r(w700)
		width: 130px
		top: -10px	
.form
	background-color: rgba(254,254,254,.11)
	border: 1px solid #5e605a
	width: 145px
	position: relative
	height: 20px
	line-height: 20px
	padding: 0 20px 0 10px
	+box
	input
		width: 100%  
		background-color: transparent 
		color: #c3c3c3 
	.btn-search
		+s(i-search)
		display: inline-block	
		position: absolute
		top: 4px
		right: 5px
		+transition
		&:hover
			+opacity(0.7)	

/*-----help-----*/
.hover-opacity
	+transition
	&:hover
		+opacity(0.7)	

		
